doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="css/libs.min.css")
        link(link rel="stylesheet", type="text/css", href="css/index.css")
    body
        include ../includes/_header
        div.about_page_section
            div.container
                div.about_page_items_top
                        div.about_page_top
                            h1 О КОМПАНИИ
                        div.about_page_bottom
                            p.
                                Lorem Ipsum - это текст-"рыба", часто
                                используемый в печати и вэб-дизайне.
                                Lorem Ipsum является стандартной "рыбой"
                                для текстов на латинице с начала XVI века.
                                В то время некий безымянный печатник создал
                                большую коллекцию размеров и форм шрифтов,
                                используя Lorem Ipsum для распечатки образцов.
                                Lorem Ipsum не только успешно пережил без заметных
                                изменений пять веков, но и перешагнул в электронный
                                дизайн. Его популяризации в новое время послужили
                                публикация листов Letraset с образцами Lorem
                                Ipsum в 60-х годах и, в более недавнее время,
                                программы электронной вёрстки типа Aldus
                                PageMaker, в шаблонах которых используется Lorem Ipsum.
        div.about_page_navigation
            div.container
                div.about_page_navigation_wrapper
                    a.about_navigation_link_first(href='index.html')
                        p Главная /
                    a.about_navigation_link_second(href='#')
                        span  О Компании
        div.about_page_text
            div.container
                p.
                    Lorem Ipsum - это текст-"рыба", часто используемый
                    в печати и вэб-дизайне. Lorem Ipsum является стандартной
                    "рыбой" для текстов на латинице с начала XVI века. В то
                    время некий безымянный печатник создал большую коллекцию
                    размеров и форм шрифтов, используя Lorem Ipsum
                    для распечатки образцов. Lorem Ipsum не только успешно
                    пережил без заметных изменений пять веков,
                    но и перешагнул в электронный дизайн. Его популяризации
                    в новое время послужили публикация листов Letraset
                    с образцами Lorem Ipsum в 60-х годах и, в более
                    недавнее время, программы электронной вёрстки типа
                    Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                div.about_page_text_middle
                    p.
                        Lorem Ipsum - это текст-"рыба", часто используемый
                        в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то
                        время некий безымянный печатник создал большую коллекцию
                        размеров и форм шрифтов, используя Lorem Ipsum
                        для распечатки образцов. Lorem Ipsum не только успешно
                        пережил без заметных изменений пять веков,
                        но и перешагнул в электронный дизайн. Его популяризации
                        в новое время послужили публикация листов Letraset
                        с образцами Lorem Ipsum в 60-х годах и, в более
                        недавнее время, программы электронной вёрстки типа
                        Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    img(src='img/about_page_text_img_2.jpg')
                    p.
                        Lorem Ipsum - это текст-"рыба", часто используемый
                        в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то
                        время некий безымянный печатник создал большую коллекцию
                        размеров и форм шрифтов, используя Lorem Ipsum
                        для распечатки образцов. Lorem Ipsum не только успешно
                        пережил без заметных изменений пять веков,
                        но и перешагнул в электронный дизайн. Его популяризации
                        в новое время послужили публикация листов Letraset
                        с образцами Lorem Ipsum в 60-х годах и, в более
                        недавнее время, программы электронной вёрстки типа
                        Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
    include ../includes/_footer
