doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="css/libs.min.css")
        link(link rel="stylesheet", type="text/css", href="css/index.css")
    body
        include ../includes/_header
        div.controll_page_section
            div.container
                div.controll_page_items_top
                    div.controll_page_top
                        h1 ФАРМАКОНАДЗОР
                    div.controll_page_bottom
                        p Уважаемые клиенты, партнеры и потребители лекарственных средств производства ООО «Форс Фарма»!
                        p Отдел фармаконадзора компании собирает информацию о следующих случаях:
        div.about_page_navigation
            div.container
                div.about_page_navigation_wrapper
                    a.about_navigation_link_first(href='index.html')
                        p Главная /
                    a.about_navigation_link_second(href='#')
                        span  Фармаконадзор
        div.controll_page_bottom
            div.container
                div.controll_menu
                    nav.controll_menu_wrapper
                        ul
                            li
                                a(href='#') Побочная реакция на лекарственное средство
                            li
                                a(href='#') Отсутствие эффективности при приеме лекарственного средства
                            li
                                a(href='#') Жалобы на низкое качество лекарственного средства
                            li
                                a(href='#') Неожиданный терапевтический эффект лекарственного средства
                            li
                                a(href='#') Ошибочное применение лекарственного средства
                            li
                                a(href='#') Передозировка лекарственного средства
                            li
                                a(href='#') Взаимодействие лекарственного средства с другими препаратами или продуктами питания
                            li
                                a(href='#') Неверный способ применения лекарственного средства
                            li
                                a(href='#') Прием лекарственного средства при беременности / кормлении грудью
        include ../includes/_types_nav
        include ../includes/_footer
