doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="css/libs.min.css")
        link(link rel="stylesheet", type="text/css", href="css/index.css")
    body
        include ../includes/_header
        div.about_section
                div.about_section_wrapper
                    div.about_content.about_slider.owl-carousel
                        div.about_item
                            img(src='img/about_section_1.jpg')
                            div.about_img_content
                                    h1 Что такое Lorem Ipsum?
                                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        div.about_item
                            img(src='img/about_section_2.jpg')
                            div.about_img_content
                                    h1 Что такое Lorem Ipsum?
                                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        div.about_item
                            img(src='img/about_section_3.jpg')
                            div.about_img_content
                                    h1 Что такое Lorem Ipsum?
                                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        div.content_section
            div.container
                div.content_section_wrapper
                    h2 О КОМПАНИИ
                    div.content_items
                        p.
                            Lorem Ipsum - это текст-"рыба", часто используемый
                            в печати и вэб-дизайне. Lorem Ipsum является
                            стандартной "рыбой" для текстов на латинице с начала
                            XVI века. В то время некий безымянный печатник создал
                            большую коллекцию размеров и форм шрифтов, используя
                            Lorem Ipsum для распечатки образцов. Lorem Ipsum
                            не только успешно пережил без заметных изменений пять
                            веков, но и перешагнул в электронный дизайн.
                            Его популяризации в новое время послужили публикация
                            листов Letraset с образцами Lorem Ipsum в 60-х
                            годах и, в более недавнее время, программы электронной
                            вёрстки типа Aldus PageMaker, в шаблонах которых
                            используется Lorem Ipsum.
                        div.content_img
                            img(src='img/content_section_1.png')
        include ../includes/_types_nav
        div.map_section
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2544.1617139776436!2d30.476106015728913!3d50.3821838794659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c8cb02392851%3A0x6aeed52dc6c99a55!2z0JPQvtC70L7RgdC10LXQstGB0LrQuNC5INC_0YDQvtGB0L8uLCAxMzIsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1557773647772!5m2!1sru!2sua" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)
        include ../includes/_footer
