doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="css/libs.min.css")
        link(link rel="stylesheet", type="text/css", href="css/index.css")
    body
        include ../includes/_header
        div.about_section
                div.about_section_wrapper
                    div.about_content.about_slider.owl-carousel
                        div.about_item
                            img(src='img/about_section_1.jpg')
                            div.about_img_content
                                div.about_under_content
                                    h1 Что такое Lorem Ipsum?
                                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        div.about_item
                            img(src='img/about_section_2.jpg')
                            div.about_img_content
                                div.about_under_content
                                    h1 Что такое Lorem Ipsum?
                                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        div.about_item
                            img(src='img/about_section_3.jpg')
                            div.about_img_content
                                div.about_under_content
                                    h1 Что такое Lorem Ipsum?
                                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        include ../includes/_types_nav
        include ../includes/_footer
