@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab/RobotoSlab.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab/RobotoSlab.woff") format("woff"), url("../fonts/RobotoSlab/RobotoSlab.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab/RobotoSlab-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Light";
  src: url("../fonts/RobotoSlab/RobotoSlab-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab/RobotoSlab-Light.woff") format("woff"), url("../fonts/RobotoSlab/RobotoSlab-Light.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/RobotoSlab/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab/RobotoSlab-Regular.ttf") format("truetype"); }

*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #FFFFFF; }

p {
  line-height: 1.65; }

img {
  -webkit-filter: saturate(150%);
          filter: saturate(150%); }

.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.about_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .about_item img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
    max-width: 100%;
    height: auto; }

.about_img_content {
  position: absolute;
  right: 600px;
  text-align: left;
  max-width: 400px; }
  .about_img_content h1 {
    font-family: RobotoSlab-Bold, sans-serif;
    font-size: -webkit-calc(16px + 1.56vw);
    font-size: calc(16px + 1.56vw);
    color: #ffffff; }
  .about_img_content p {
    font-family: RobotoSlab-Light, sans-serif;
    color: #ffffff; }

@media (max-width: 850px) {
  .about_img_content {
    text-align: center;
    padding: 0 20px; } }

.about_slider.owl-carousel .owl-dots {
  position: absolute;
  bottom: 25px;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  .about_slider.owl-carousel .owl-dots .owl-dot {
    margin: 0 10px;
    outline: none;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s; }
    .about_slider.owl-carousel .owl-dots .owl-dot span {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100px;
      height: 5px;
      background-color: #ffffff;
      opacity: .4; }
  .about_slider.owl-carousel .owl-dots .active {
    background-color: #ffffff; }

.about_under_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.content_section {
  background-color: #f5f5f5; }

.content_section_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.content_section_wrapper {
  padding-top: -webkit-calc(10px + 1.04vw);
  padding-top: calc(10px + 1.04vw); }
  .content_section_wrapper h2 {
    font-family: RobotoSlab-Bold, sans-serif;
    font-size: -webkit-calc(16px + 1.56vw);
    font-size: calc(16px + 1.56vw); }
  .content_section_wrapper p {
    font-family: RobotoSlab-Light, sans-serif; }

.content_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 1280px) {
  .content_items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; } }

.content_img img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  max-width: 748px;
  height: auto; }

@media (max-width: 1280px) {
  .content_img img {
    display: block;
    max-width: 100%;
    height: auto; } }

.map_section iframe {
  display: block; }

.header {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  opacity: .8;
  border-bottom: 2px solid #000000;
  -webkit-box-shadow: 0px -3px 34px 0px #000000;
          box-shadow: 0px -3px 34px 0px #000000;
  z-index: 30;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.header_scroll {
  position: fixed;
  background-color: #ffffff;
  width: 100%; }

@media (max-width: 1280px) {
  .header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0; }
  .header_wrapper {
    height: 100px; } }

@media (max-width: 812px) {
  .header {
    height: 70px;
    opacity: 1; }
  .header_wrapper {
    height: 70px; } }

.header_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 168px;
  -webkit-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out; }

.header_scroll_wrapper {
  height: 80px; }

.header_logo {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .header_logo a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .header_logo a:hover {
      cursor: auto;
      opacity: .8; }
  .header_logo img {
    height: 100% !important;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-filter: saturate(150%);
            filter: saturate(150%); }

.header_menu_burger {
  display: none; }
  .header_menu_burger a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 20px; }
    .header_menu_burger a span, .header_menu_burger a:before, .header_menu_burger a:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #3eb5f1;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .header_menu_burger a span {
      top: -webkit-calc(50% - 2px);
      top: calc(50% - 2px);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .header_menu_burger a:after {
      bottom: 0; }
    .header_menu_burger a:before {
      top: 0; }

@media (max-width: 1280px) {
  .header_menu_burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.nav_add a span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.nav_add a:before {
  top: -webkit-calc(50% - 2px);
  top: calc(50% - 2px);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.nav_add a:after {
  bottom: -webkit-calc(50% - 2px);
  bottom: calc(50% - 2px);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  z-index: 20; }

.header_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

@media (max-width: 1280px) {
  .header_menu {
    display: none; } }

@media (max-width: 1280px) {
  .header_menu.open {
    display: block;
    border-bottom: 2px solid #000000;
    -webkit-box-shadow: 0px 22px 25px -26px #000000;
            box-shadow: 0px 22px 25px -26px #000000; }
    .header_menu.open .header_nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      height: 60px;
      margin: 0; }
      .header_menu.open .header_nav li a {
        height: 60px; } }

@media (max-width: 992px) {
  .header_menu.open {
    top: 70px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    padding: 0 20px; }
    .header_menu.open .header_nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 300px;
      position: relative;
      padding: 0 20px; }
      .header_menu.open .header_nav li a {
        width: -webkit-calc(310px - 7.41vw);
        width: calc(310px - 7.41vw); }
      .header_menu.open .header_nav .last_child {
        margin-bottom: -webkit-calc(15px + 2px);
        margin-bottom: calc(15px + 2px); }
    .header_menu.open .header_menu_right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .header_menu.open .header_menu_right:before {
        content: '';
        position: absolute;
        bottom: 50px;
        right: 0;
        left: 0;
        background-color: #000000;
        height: 1px; } }

@media (min-width: 813px) {
  .header_menu.open {
    top: 100px; } }

.header_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0; }
  .header_nav li {
    list-style: none; }
    .header_nav li a {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      width: 200px;
      height: 80px;
      font-family: RobotoSlab-Regular, sans-serif;
      font-size: -webkit-calc(10px + .52vw);
      font-size: calc(10px + .52vw);
      text-decoration: none;
      color: #353535;
      z-index: 9;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
      .header_nav li a:hover {
        color: #ffffff; }
      .header_nav li a:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #3eb5f1;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        z-index: -10; }
      .header_nav li a:hover:after {
        height: 100%; }

.last_child a {
  width: 125px !important; }

.header_menu_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -webkit-calc(10px + 1.04vw);
  margin-left: calc(10px + 1.04vw); }

.header_social_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .header_social_button:hover {
    opacity: .8; }
  .header_social_button img {
    -webkit-filter: saturate(150%);
            filter: saturate(150%); }

.header_language {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -webkit-calc(15px + 1.04vw);
  margin-right: calc(15px + 1.04vw); }

.header_selector {
  display: none;
  position: absolute;
  bottom: -30px;
  width: 55px;
  font-family: RobotoSlab-Regular, sans-serif;
  font-weight: bold;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.header_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  cursor: pointer;
  font-family: RobotoSlab-Regular, sans-serif;
  font-weight: bold;
  font-size: -webkit-calc(10px + .52vw);
  font-size: calc(10px + .52vw); }

.header_item:hover {
  color: #3eb5f1; }

.header_item:after {
  background: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;
  content: '';
  height: 16px;
  width: 16px; }

.header_selector {
  margin-left: -10px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .header_selector a {
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: block;
    background-color: #000000;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .header_selector a:hover {
      color: #3eb5f1; }

.header_language:hover .header_selector {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  display: block; }

.footer_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee; }

.footer_section_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: -webkit-calc(10px + 1.04vw);
  padding-top: calc(10px + 1.04vw); }

@media (max-width: 1013px) {
  .footer_section_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.footer_left_items {
  padding-top: 16px; }

.footer_right_items {
  margin-left: -webkit-calc(25px + 3.12vw);
  margin-left: calc(25px + 3.12vw); }

.footer_navigation {
  border-bottom: 1px solid #353535; }

.footer_navigation_items ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0; }

.footer_navigation_items li {
  list-style: none;
  margin-right: -webkit-calc(25px + 3.12vw);
  margin-right: calc(25px + 3.12vw); }

.footer_navigation_items a {
  font-family: RobotoSlab-Light, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #353535;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .footer_navigation_items a:hover {
    color: #3eb5f1; }

.footer_navigation_items p {
  margin-top: 5px;
  margin-bottom: 0; }

@media (max-width: 1013px) {
  .footer_navigation_items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center; }
    .footer_navigation_items li {
      margin: -webkit-calc(10px + 1.04vw) -webkit-calc(10px + 1.04vw);
      margin: calc(10px + 1.04vw) calc(10px + 1.04vw); } }

.footer_social_button img {
  margin-top: 25px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .footer_social_button img:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }

.footer_social_button a {
  text-decoration: none;
  color: #353535;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .footer_social_button a:hover {
    color: #3eb5f1; }

.types_section_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 30px; }

.types_button_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px -webkit-calc(10px + 1.04vw) 15px;
  margin: 0 15px calc(10px + 1.04vw) 15px;
  height: 80px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 340px;
      -ms-flex: 0 1 340px;
          flex: 0 1 340px; }
  .types_button_section a {
    text-decoration: none;
    color: #ffffff;
    font-family: RobotoSlab-Light, sans-serif; }
  .types_button_section:hover .types_button:after {
    width: 100%; }
  .types_button_section:hover .types_button_right:after {
    right: 30px; }
  .types_button_section:hover .types_button_right img {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }

@media (max-width: 1290px) {
  .types_button_section {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 350px;
        -ms-flex: 1 1 350px;
            flex: 1 1 350px;
    max-width: 355px; } }

@media (max-width: 1185px) {
  .types_button_section {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 400px;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
    max-width: 450px; } }

@media (max-width: 918px) {
  .types_button_section {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 350px;
        -ms-flex: 1 1 350px;
            flex: 1 1 350px; } }

@media (max-width: 805px) {
  .types_button_section {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 450px;
        -ms-flex: 1 1 450px;
            flex: 1 1 450px;
    max-width: 700px; } }

.types_button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  background-color: #3eb5f1;
  -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px; }
  .types_button h3 {
    z-index: 2; }
  .types_button:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #353535;
    -webkit-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }

.types_button_right {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: #353535;
  -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0; }
  .types_button_right img {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .types_button_right:after {
    content: '';
    position: absolute;
    right: -30px;
    top: 30px;
    width: 13px;
    height: 22px;
    background-image: url("../img/types_after.png");
    -webkit-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }

.about_page_section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .about_page_section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/about_page_section.jpg");
    background-position: center bottom;
    -webkit-background-size: cover;
            background-size: cover; }

.about_page_items_top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: RobotoSlab-Bold, sans-serif;
  min-height: 30vw;
  padding: -webkit-calc(50px + 7.81vw) 0 -webkit-calc(20px + 3.12vw) 0;
  padding: calc(50px + 7.81vw) 0 calc(20px + 3.12vw) 0;
  z-index: 2; }

.about_page_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.about_page_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 650px; }

.about_page_navigation_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: RobotoSlab-Light, sans-serif;
  font-size: 12px;
  margin-top: -webkit-calc(10px + 1.04vw);
  margin-top: calc(10px + 1.04vw); }
  .about_page_navigation_wrapper a {
    text-decoration: none;
    color: #000000; }
  .about_page_navigation_wrapper p {
    margin: 0; }
  .about_page_navigation_wrapper span {
    color: #3eb5f1; }

.about_navigation_link_first {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .about_navigation_link_first:hover {
    color: #3eb5f1; }

.about_page_text {
  font-family: RobotoSlab-Light, sans-serif;
  margin-bottom: -webkit-calc(10px + 1.04vw);
  margin-bottom: calc(10px + 1.04vw); }

.about_page_text_middle img {
  margin: -webkit-calc(10px + 1.04vw) 0;
  margin: calc(10px + 1.04vw) 0;
  width: 100%;
  height: auto; }

.contact_page_section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .contact_page_section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/contact_page_section_img_1.jpg");
    background-position: center bottom;
    -webkit-background-size: cover;
            background-size: cover; }

.contact_page_items_top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: RobotoSlab-Bold, sans-serif;
  min-height: 30vw;
  padding: -webkit-calc(50px + 7.81vw) 0 -webkit-calc(20px + 3.12vw) 0;
  padding: calc(50px + 7.81vw) 0 calc(20px + 3.12vw) 0;
  z-index: 2; }

.contact_page_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.contact_text_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 -webkit-calc(50px + 3.64vw);
  padding: 0 calc(50px + 3.64vw);
  width: 100%; }
  .contact_text_wrapper a {
    font-family: RobotoSlab-Light, sans-serif;
    font-size: -webkit-calc(10px + .52vw);
    font-size: calc(10px + .52vw);
    color: #ffffff;
    text-decoration: none; }

@media (max-width: 1280px) {
  .contact_text_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.contact_text_left {
  border-right: 2px solid #ffffff;
  padding-right: -webkit-calc(25px + 3.64vw);
  padding-right: calc(25px + 3.64vw); }
  .contact_text_left a p {
    margin-top: 0; }

@media (max-width: 1280px) {
  .contact_text_left {
    border: 0;
    padding: 0 0 20px 0; }
    .contact_text_left a p:not(:first-child) {
      margin: 0px; } }

.contact_text_right {
  border-left: 2px solid #ffffff;
  padding-left: -webkit-calc(25px + 3.64vw);
  padding-left: calc(25px + 3.64vw);
  height: 98px; }
  .contact_text_right a {
    height: auto; }

@media (max-width: 1280px) {
  .contact_text_middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff; } }

@media (max-width: 1280px) {
  .contact_text_right {
    border: 0;
    padding: 20px 0 0 0; } }

.controll_page_section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .controll_page_section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/controll_page_section_img_1.jpg");
    background-position: center bottom;
    -webkit-background-size: cover;
            background-size: cover; }

.controll_page_items_top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: RobotoSlab-Bold, sans-serif;
  min-height: 30vw;
  padding: -webkit-calc(50px + 7.81vw) 0 -webkit-calc(20px + 3.12vw) 0;
  padding: calc(50px + 7.81vw) 0 calc(20px + 3.12vw) 0;
  z-index: 2; }

.controll_page_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.controll_menu_wrapper li {
  font-family: RobotoSlab-Light, sans-serif;
  padding-top: 10px;
  color: #3eb5f1; }
  .controll_menu_wrapper li a {
    color: #000000; }
