@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab.woff") format("woff"), url("../fonts/RobotoSlab.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Light";
  src: url("../fonts/RobotoSlab-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Light.woff") format("woff"), url("../fonts/RobotoSlab-Light.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.ttf") format("truetype"); }

*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #FFFFFF; }

p {
  line-height: 1.65; }

.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.about_section {
  height: 41.66vw;
  position: relative; }

.about_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .about_item img {
    display: block; }

.about_img_content {
  position: absolute;
  max-width: 470px; }
  .about_img_content h1 {
    font-family: RobotoSlab-Bold, sans-serif;
    color: #ffffff; }
  .about_img_content p {
    font-family: RobotoSlab-Light, sans-serif;
    color: #ffffff; }

.header {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  opacity: .8;
  border-bottom: 2px solid #000000;
  -webkit-box-shadow: 0px -3px 34px 0px #000000;
          box-shadow: 0px -3px 34px 0px #000000;
  z-index: 30;
  -webkit-transition: height .5s ease-in-out;
  -o-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out; }

.header_scroll {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  opacity: .8;
  border-bottom: 2px solid #000000;
  -webkit-box-shadow: 0px -3px 34px 0px #000000;
          box-shadow: 0px -3px 34px 0px #000000;
  z-index: 30;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

@media (max-width: 1280px) {
  .header {
    height: 100px;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0; }
  .header_wrapper {
    height: 100px; } }

@media (max-width: 812px) {
  .header {
    height: 70px;
    opacity: 1; }
  .header_wrapper {
    height: 70px; } }

.header_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header_logo {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .header_logo a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .header_logo a:hover {
      cursor: auto;
      opacity: .8; }
  .header_logo img {
    height: 100% !important;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }

.header_menu_burger {
  display: none; }
  .header_menu_burger a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 20px; }
    .header_menu_burger a span, .header_menu_burger a:before, .header_menu_burger a:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #3eb5f1;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .header_menu_burger a span {
      top: -webkit-calc(50% - 2px);
      top: calc(50% - 2px);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .header_menu_burger a:after {
      bottom: 0; }
    .header_menu_burger a:before {
      top: 0; }

@media (max-width: 1280px) {
  .header_menu_burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.nav_add a span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.nav_add a:before {
  top: -webkit-calc(50% - 2px);
  top: calc(50% - 2px);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.nav_add a:after {
  bottom: -webkit-calc(50% - 2px);
  bottom: calc(50% - 2px);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  z-index: 20; }

.header_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

@media (max-width: 1280px) {
  .header_menu {
    display: none; } }

@media (max-width: 1280px) {
  .header_menu.open {
    display: block;
    border-bottom: 2px solid #000000;
    -webkit-box-shadow: 0px 22px 25px -26px #000000;
            box-shadow: 0px 22px 25px -26px #000000; }
    .header_menu.open .header_nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      height: 60px;
      margin: 0; }
      .header_menu.open .header_nav li a {
        height: 60px; } }

@media (max-width: 992px) {
  .header_menu.open {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    padding: 0 20px; }
    .header_menu.open .header_nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 300px;
      position: relative;
      padding: 0 20px; }
      .header_menu.open .header_nav li a {
        width: -webkit-calc(310px - 7.41vw);
        width: calc(310px - 7.41vw); }
      .header_menu.open .header_nav .last_child {
        margin-bottom: -webkit-calc(15px + 2px);
        margin-bottom: calc(15px + 2px); }
    .header_menu.open .header_menu_right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .header_menu.open .header_menu_right:before {
        content: '';
        position: absolute;
        bottom: 50px;
        right: 0;
        left: 0;
        background-color: #000000;
        height: 1px; } }

.header_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0; }
  .header_nav li {
    list-style: none; }
    .header_nav li a {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      width: 200px;
      height: 80px;
      font-family: RobotoSlab-Regular, sans-serif;
      font-size: -webkit-calc(10px + .52vw);
      font-size: calc(10px + .52vw);
      text-decoration: none;
      color: #353535;
      z-index: 9;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
      .header_nav li a:hover {
        color: #ffffff; }
      .header_nav li a:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #3eb5f1;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        z-index: -10; }
      .header_nav li a:hover:after {
        height: 100%; }

.header_menu_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -webkit-calc(10px + 1.04vw);
  margin-left: calc(10px + 1.04vw); }

.header_social_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .header_social_button:hover {
    opacity: .8; }

.header_language {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -webkit-calc(15px + 1.04vw);
  margin-right: calc(15px + 1.04vw); }

.header_selector {
  display: none;
  position: absolute;
  bottom: -30px;
  width: 55px;
  font-family: RobotoSlab-Regular, sans-serif;
  font-weight: bold;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.header_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  cursor: pointer;
  font-family: RobotoSlab-Regular, sans-serif;
  font-weight: bold;
  font-size: -webkit-calc(10px + .52vw);
  font-size: calc(10px + .52vw); }

.header_item:hover {
  color: #3eb5f1; }

.header_item:after {
  background: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;
  content: '';
  height: 16px;
  width: 16px; }

.header_selector {
  margin-left: -10px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .header_selector a {
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: block;
    background-color: #000000;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .header_selector a:hover {
      color: #3eb5f1; }

.header_language:hover .header_selector {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  display: block; }
