@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab.woff") format("woff"), url("../fonts/RobotoSlab.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Light";
  src: url("../fonts/RobotoSlab-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Light.woff") format("woff"), url("../fonts/RobotoSlab-Light.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.ttf") format("truetype"); }

*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #FFFFFF; }

p {
  line-height: 1.65; }

.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.header {
  position: relative;
  background-color: #ffffff;
  opacity: .8;
  border-bottom: 2px solid #000000;
  z-index: 20; }

.header_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header_logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .header_logo a:hover {
    opacity: .8; }

.header_logo img {
  -o-object-fit: cover;
     object-fit: cover; }

@media (max-width: 1250px) {
  .mobile_logo {
    background-image: url("../img/header_logo_2.png");
    background-repeat: no-repeat;
    background-position: center; }
  .header_logo {
    display: none; } }

.header_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.header_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0; }
  .header_nav li {
    list-style: none; }
    .header_nav li a {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      width: 200px;
      height: 80px;
      font-family: RobotoSlab-Light, sans-serif;
      font-size: -webkit-calc(10px + .52vw);
      font-size: calc(10px + .52vw);
      text-decoration: none;
      color: #353535;
      z-index: 9;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
      .header_nav li a:hover {
        color: #ffffff; }
      .header_nav li a:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #3eb5f1;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        z-index: -9; }
      .header_nav li a:hover:after {
        height: 100%; }

.header_social_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .header_social_button:hover {
    opacity: .8; }

.header_language {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -webkit-calc(15px + 1.04vw);
  margin-right: calc(15px + 1.04vw); }

.header_selector {
  display: none;
  position: absolute;
  bottom: -30px;
  width: 55px;
  font-family: RobotoSlab-Regular, sans-serif;
  font-weight: bold;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.header_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  cursor: pointer;
  font-family: RobotoSlab-Regular, sans-serif;
  font-weight: bold;
  font-size: -webkit-calc(10px + .52vw);
  font-size: calc(10px + .52vw); }

.header_item:hover {
  color: #3eb5f1; }

.header_item:after {
  background: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;
  content: '';
  height: 16px;
  width: 16px; }

.header_selector {
  margin-left: -10px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .header_selector a {
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: block;
    background-color: #000000;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .header_selector a:hover {
      color: #3eb5f1; }

.header_language:hover .header_selector {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  display: block; }
