div.footer_section
        div.container
            div.footer_section_wrapper
                div.footer_left_items
                    a(href='#')
                        img(src='img/header_logo.png')
                div.footer_right_items
                    div.footer_navigation
                        nav.footer_navigation_items
                            ul
                                li
                                    a(href='#') О Компании
                                li
                                    a(href='#') Каталог Препаратов
                                li
                                    a(href='#') Фармаканадзор
                                li
                                    a(href='#') Контакты
                    div.footer_navigation
                        nav.footer_navigation_items
                            ul
                                li
                                    a(href='#') 03127, Украина, г. Киев,
                                        p Голосеевский проспект 132
                                li
                                    a(href='tel:+380734278841') 0734278841
                                li
                                    a(href='#') office@ffd.com.ua
                    div.footer_social_button
                        a(href='https://www.linkedin.com/' target='_block')
                            img(src='img/linkedin.png')
                        p Разработка сайтов
                            a(href='#')  SEOTM Digital Agency
include _scripts