div.header
    div.container
        div.header_wrapper
            div.header_logo.mobile_logo
                a(href='#')
                    img(src='img/header_logo.png')
            div.header_menu.burger_menu
                ul.header_nav
                    li
                        a(href="#") О Компании
                    li
                        a(href="#") Каталог Препаратов
                    li
                        a(href="#") Фармаконадзор
                    li
                        a(href="#") Контакты
                    div.header_language
                        div.header_item RU
                        div.header_selector
                            a(href='#') ENG
                            a(href='#') UKR
                    div.header_social_button
                        a(href='https://www.linkedin.com/' target='_blank')
                            img(src='img/linkedin.png')