div.header
    div.container
        div.header_wrapper
            div.header_logo
                a(href='#')
                    img(src='img/header_logo.png')
            div.header_menu_burger
                a(href='#')
                    span
            div.header_menu
                ul.header_nav
                    li
                        a(href="about_company.html") О Компании
                    li
                        a(href="#") Каталог Препаратов
                    li
                        a(href="#") Фармаконадзор
                    li.last_child
                        a(href="#") Контакты
                    div.header_menu_right
                        div.header_language
                            div.header_item RU
                            div.header_selector
                                a(href='#') ENG
                                a(href='#') UKR
                        div.header_social_button
                            a(href='https://www.linkedin.com/' target='_blank')
                                img(src='img/linkedin.png')