div.header
    div.container
        div.header_wrapper
            div.header_logo
                a(href='#')
                    img(src='img/header_logo.png')
            div.header_menu.burger_menu
                ul.header_nav
                    li
                        a(href="#") О Компании
                    li
                        a(href="#") Каталог Препаратов
                    li
                        a(href="#") Фармаконадзор
                    li
                        a(href="#") Контакты