div.types_section
    div.container
        div.types_section_wrapper
            div.types_button_section
                a.types_button(href='#')
                    h3 Нервная система
                div.types_button_right
                    img(src='img/types_img_1.png')
            div.types_button_section
                a.types_button(href='#')
                    h3 Костно-мышечная система
                div.types_button_right
                    img(src='img/types_img_2.png')
            div.types_button_section
                a.types_button(href='#')
                    h3 Офтальмология
                div.types_button_right
                    img(src='img/types_img_3.png')
            div.types_button_section
                a.types_button(href='#')
                    h3 Противопростудные
                div.types_button_right
                    img(src='img/types_img_4.png')
            div.types_button_section
                a.types_button(href='#')
                    h3 Аллергия
                div.types_button_right
                    img(src='img/types_img_5.png')
            div.types_button_section
                a.types_button(href='#')
                    h3 Онкология
                div.types_button_right
                    img(src='img/types_img_6.png')
            div.types_button_section
                a.types_button(href='#')
                    h3 Дезинфицирующие средства
                div.types_button_right
                    img(src='img/types_img_7.png')