*,:before,:after
  box-sizing: border-box

body
  background-color: #FFFFFF

p
  line-height: 1.65

.container
  width: 100%
  max-width: 1124px
  margin: 0 auto
  padding-left: 15px
  padding-right: 15px