*,:before,:after
  box-sizing: border-box

body
  background-color: #FFFFFF

p
  line-height: 1.65

.container
  width: 100%
  max-width: 1224px
  margin: 0 auto
  padding-left: 15px
  padding-right: 15px


//--------------about_section
.about_section
  position: relative

.about_content
  position: relative
  display: flex

.about_item
  display: flex

  img
    object-fit: cover
    filter: brightness(70%)
    max-width: 100%
    height: auto

.about_img_content
  h1
    font-family: RobotoSlab-Bold, sans-serif
    font-size: $fz_large
    color: $white
  p
    font-family: RobotoSlab-Light, sans-serif
    color: $white

@media (max-width: 850px)
  .about_img_content
    text-align: center
    padding: 0 20px

.about_slider.owl-carousel
  .owl-dots
    position: absolute
    bottom: 25px
    right: 0
    left: 0
    display: flex
    justify-content: center
    width: 100%
    .owl-dot
      margin: 0 10px
      outline: none
      transition: all 1.5s
      span
        display: flex
        width: 100px
        height: 5px
        background-color: $white
        opacity: .4
    .active
      background-color: $white

.about_under_content
  display: flex
  flex-direction: column