*,:before,:after
  box-sizing: border-box

body
  background-color: #FFFFFF

p
  line-height: 1.65

.container
  width: 100%
  max-width: 1224px
  margin: 0 auto
  padding-left: 15px
  padding-right: 15px

.about_section
  height: 41.66vw
  position: relative

.about_item
  display: flex
  justify-content: flex-end
  align-items: center
  img
    display: block

.about_img_content
  position: absolute
  max-width: 470px
  h1
    font-family: RobotoSlab-Bold, sans-serif
    color: $white
  p
    font-family: RobotoSlab-Light, sans-serif
    color: $white